/* MaG Otros Arreglos */

html {
	scroll-behavior: smooth;
  }

body{
     line-height: 2em;
}
p + p{
     /* Sirve para Experiencia titulo y texto */
    margin: auto; 
}
hr {
	width: 50%;
	margin: 1rem auto;
		
 }

 #navbar-toggler {
     margin-left: 7%;
     margin-right: 7%;
    
     
 }
 

.direcciones {
     text-decoration: none;
     color:white;
     font-weight: bolder;
     &:hover{
          color:greenyellow;
          
     }
}


/* Niveles de Pergaminos */
.pergaminos00{
     background-color: rgb(180, 234, 44);
     display:flex;

     /* padding-bottom: 5rem; */
     
}

.pergaminos01{
     display:flex;
     flex-direction: row;
     align-items: center;
     height: fit-content;
     
}

.pergaminos02{
     width: 350px; 
     text-align: center;
     h2 {
          font-size: 1.7rem;
          color: #615151;
          font-weight: bold;
          text-align: center;
     }
     p {
          font-size: 1.1rem;
          color: #615151;
          /* font-weight: bold; */
          text-align: center;
     }
}

.pergaminos03 {
     width:200px;/* 350px; */
}
img.pergaminos03 {
     transform: scale(0.7);
     transition: 1s;

     &:hover {
          transform: scale(1);
          background-color:rgba(173, 255, 47, 0.5);
          border-radius: 180px ;
              }
}



/* Pantallas pequeñas */
/* @media screen and (max-width: 450px) { */
@media (max-width: 768px) {
     hr {
          width: 50%;
               
      }

     .pergaminos01{
          display:flex;
          flex-direction: column;
     }
     img.pergaminos03 {
          transform: scale(0.7);
          transition: 1s;
     
          &:hover {
               transform: scale(1);
               background-color:rgba(173, 255, 47, 0.5);
               border-radius: 180px ;
                   }
     }


}